<!-- Home Page Description -->
<div class="home-page">
 
  <!-- Secțiune de descriere -->
  <div class="description">
    
    <h1>Bine ai venit la Magazinul nostru de Produse Medicinale!</h1>
    <p>Aici găsești cele mai bune tincturi, ceaiuri, siropuri și creme naturale.</p>
  </div>

 <!-- <div class="image-container">
    <img src="assets/images/img1.jpg" alt="Produse Naturiste" class="img-fluid">
  </div>-->
  <div class="description">

    <h2>La Naturiste Tirban Plant, oferim o gamă largă de produse naturale, create pentru a sprijini sănătatea și bunăstarea ta.
       Fiecare produs este realizat cu ingrediente de calitate superioară, provenite din plante medicinale și extracte naturale, 
       pentru a oferi beneficii reale și eficiente.</h2>
  
    
    
    <h3>Beneficii ale produselor noastre</h3>
    <ul class="benefits-list">
      <li>Ingrediente 100% naturale</li>
      <li>Fără conservanți sau aditivi artificiali</li>
      <li>Produse testate și certificate</li>
      <li>Recomandate de experți în domeniul sănătății</li>
    </ul>
  
    <p>Explorează colecția noastră completă de produse și alege cele mai bune soluții pentru sănătatea ta!</p>
    
  </div>
  
</div>
