
<div class="card py-2 mb-3">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <input class="w-100" value="Profile">
        </li>
        <li class="list-group-item">Noi garantăm această eficienţă a plantelor culese de noi!
            Produsele noastre sunt autorizate de IBA Bucureşti (Institutul Naţional de Cercetare – Dezvoltare pentru Bioresurse Alimentare), ceea ce înseamnă că pot fi comercializate şi în farmacii. Putem spune că suntem printre puţinii care au această autorizaţie din zona noastră.   Scopul nostru este să venim în ajutorul celor bolnavi dar nu numai, şi a celor care doresc să beneficieze de avantajul produselor noastre. Totodată, facem şi tratamente (combinaţii de plante) personalizate, la cererea clientului. Spre exemplu, dacă cineva doreşte o combinaţie de 3, 4, sau 6 plante sau o alifie dintr-o plantă sau mai multe plante, sau o tinctură ce noi nu o avem printre produsele noastre, noi în cel mai scurt timp posibil le preparăm.</li>
        <li class="list-group-item d-flex justify-content-around">
            <button class="btn btn-outline-dark d-flex">
                <i class="bi bi-plus"></i>
                <p class="ms-1">Profile</p>
            </button>
        </li>
    </ul>
</div>